# URL For API Proxy (Change this in production)
NEXT_PUBLIC_API_URL="http://localhost:8000"

# API Key for accessing the backend (Use "openssl rand -hex 32")
BACKEND_API_KEY=THERE_ARE_NO_STRINGS_ON_ME
