# Database Settings
DATABASE_URL=MY_DB_URL
DB_SERVICE_CA_PATH="RELATIVE_PATH_TO_DB_SERVICE_CA.PEM"

# CORS Origin
CORS_ORIGIN=http://localhost:3000

# Backend API Key (for securing backend api, (Use "openssl rand -hex 32"))
BACKEND_API_KEY=MY_SECRET_API_KEY

# Environment Type (For automatically enabling/disabling documentation)(Values: [DEV, PROD])
ENV_TYPE=DEV

# AES Encryption Key (use "print(Fernet.generate_key().decode())" from cryptography.fernet)
DB_FIELD_ENCRYPTION_KEY="AES_ENCRYPTION_KEY_FOR_SOME_DB_COLUMNS"

# JWT Settings (Use "openssl rand -hex 32" for generating a "JWT_SECRET_KEY")
JWT_ALGORITHM=HS256
JWT_SECRET_KEY=FRANKY_SUUUPPPERRRR_SECRET_JWT_KEY
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=30

# Google OAuth Settings
GOOGLE_CLIENT_ID=CLIENT_ID
GOOGLE_CLIENT_SECRET=CLIENT_SECRET
GOOGLE_REDIRECT_URI=http://localhost:8000/auth/google/callback  # Change the domain in production.

# Google Drive Upload Settings
GOOGLE_DRIVE_UPLOAD_REQUEST_URL=https://www.googleapis.com/upload/drive/v3/files?uploadType=resumable

# Application Metadata
APP_NAME=DriveGate
APP_VERSION=1.0.0